@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(0.93 0.0084 271.32);
  --foreground: oklch(0.24 0.0096 276.69);
  --card: oklch(0.98 0.0026 286.35);
  --card-foreground: oklch(0.24 0.0096 276.69);
  --popover: oklch(0.98 0.0026 286.35);
  --popover-foreground: oklch(0.24 0.0096 276.69);
  --primary: oklch(0.44 0.1726 268.01);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.93 0.0084 271.32);
  --secondary-foreground: oklch(0.58 0.0282 273.2);
  --muted: oklch(0.93 0.0084 271.32);
  --muted-foreground: oklch(0.43 0.0201 274.42);
  --accent: oklch(0.93 0.0084 271.32);
  --accent-foreground: oklch(0.58 0.0282 273.2);
  --destructive: oklch(0.51 0.1691 11.4);
  --border: oklch(0.93 0.0084 271.32);
  --input: oklch(0.85 0.0085 271.31);
  --ring: oklch(0.44 0.1726 268.01);

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --text-xs: var(--text-xs);
  --text-sm: var(--text-sm);
  --text-base: var(--text-base);
  --text-lg: var(--text-lg);
  --text-xl: var(--text-xl);
}
@layer base {
  * {
    font-family: "Open Sans", sans-serif;
  }

  a {
    color: var(--primary);
    &:hover {
      text-decoration: underline;
    }
  }

  .progress {
    animation: progress 1s infinite linear;
  }

  .left-right {
    transform-origin: 0% 50%;
  }
  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }

  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
